<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="">Continente</label>
            <select formControlName="region" class="form-control">
                <option value=""> --Seleccione contiente-- </option>
                <option *ngFor="let region of regiones;let i = index" [value]="region | lowercase"> {{region}} </option>

            </select>
        </div>
    </div>

    <div class="row mb-3" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label" for="">País</label>
            <select formControlName="pais" class="form-control">
                <option value=""> --Seleccione país-- </option>
                <option *ngFor="let pais of paises;let i = index" [value]="pais.cca2"> {{pais.name.common}} </option>

            </select>
        </div>
    </div>

    <div class="row mb-3" *ngIf="fronteras.length !== 0">
        <div class="col">
            <label class="form-label" for="">Fronteras</label>
            <select formControlName="frontera" class="form-control">
                <option value=""> --Seleccione frontera-- </option>
                <option *ngFor="let frontera of fronteras;let i = index" [value]="frontera"> {{frontera}} </option>

            </select>
        </div>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">
                Seleccionar
            </button>
        </div>
    </div>
</form>

<br>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>Value: {{miFormulario.value | json}}</pre>